* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; }

header li .nav-link {
  color: #e97b7b;
  font-family: 'Oswald', sans-serif; }

.nav-item .alfonsoGrisolia {
  font-family: 'Oswald', sans-serif; }

h1 {
  display: flex;
  justify-content: center;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 15px;
  color: #e97b7b;
  margin-top: 25px;
  margin-bottom: 50px; }

p {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  margin-left: 25px;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 25px; }

h2 {
  display: flex;
  justify-content: center;
  font-family: 'Oswald', sans-serif;
  color: #e97b7b;
  font-size: 30px; }

body {
  background-color: #0d0d0d; }

section {
  height: 1200px; }

.button {
  display: inline-block;
  margin-top: 200px;
  margin-left: 70px;
  text-decoration: none;
  color: antiquewhite;
  padding: 4px;
  border: 1px solid #e97b7b;
  border-radius: 10px;
  background: #e97b7b;
  font-family: 'Oswald', sans-serif; }

img {
  width: 400px;
  border: 1px solid antiquewhite; }
