* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box; }

// .row {--bs-gutter-x: 0rem;}

    header{ 
        li{
            .nav-link{color: rgb(233, 123, 123); font-family: 'Oswald', sans-serif;
                
            }
        }
    }
    .nav-item .alfonsoGrisolia {
        font-family: 'Oswald', sans-serif;
        
    }

    h1 {display: flex;
        justify-content: center;
        font-family: 'Noto Sans JP', sans-serif; 
        font-size: 15px; 
        color: rgb(233, 123, 123);
        margin-top: 15px;
        margin-bottom: 50px;}


        p{
            display: flex;
            justify-content: center;
            color: antiquewhite;
            margin-left: 25px;
            font-family: 'Roboto Condensed', sans-serif;
            margin-top: 25px;
        }


        h2{
            display: flex;
            justify-content: center;
            font-family: 'Oswald', sans-serif;
            color: rgb(233, 123, 123);
            font-size: 30px;
            
        }

body {
    background-color: rgb(13, 13, 13);
}


section{
    height: 1200px;
}
.button {
    display:inline-block ;
    margin-top: 200px;
    margin-left: 70px;
    text-decoration: none;
    color: antiquewhite;
    padding: 4px;
    border: 1px solid rgb(233, 123, 123);
    border-radius: 10px;
    background: rgb(233, 123, 123);
    font-family: 'Oswald', sans-serif;
}
img {width: 400px; border: 1px solid antiquewhite;}

a:hover{
    color: rgb(32, 32, 32);
}
.nav-link:hover{
    color: antiquewhite; 
}


@media only screen and (max-width: 760px){
    
} 
